@model sdb.Models.SdbCompaigns
<div id="addCampaignFormDIV">
    <h2>Add New Campaign</h2>
    <div class="col-md-4">
        <form action="#">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="ImageData" id="ImageData" class="form-control" onchange="fileCheck(this);" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="CompaignPurpose" class="control-label"></label>
                    <input asp-for="CompaignPurpose" class="form-control" />
                    <span asp-validation-for="CompaignPurpose" class="text-danger"></span>
                </div>*@
            @*<div class="form-group">
                    <label asp-for="UserId" class="control-label"></label>
                    <input asp-for="UserId" class="form-control" />
                    <span asp-validation-for="UserId" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalAmountNeeded" class="control-label"></label>
                <input asp-for="TotalAmountNeeded" class="form-control" />
                <span asp-validation-for="TotalAmountNeeded" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input onclick="PostAddEditViewForm(); return false;" value="Create" class="btn btn-default bg-theme-colored" />
                <input onclick="closeAddEditViewForm()" data-icon="back" value="Back" class="btn btn-primary bg-theme-colored" />
            </div>

        </form>
    </div>
</div>

