@model IEnumerable<sdb.Models.SdbCompaigns>
@{
    ViewData["Title"] = "Campaigns";
    Layout = "~/Areas/Ngo/Views/Shared/_Layout.cshtml";
}

<input type="hidden" id="loggedinuserID" value="1" />
<div class="col-md-12 form-group">
    
    <div class="container invisible" id="divAddEditView">

    </div>
    <div class="container invisible" id="divEditView">

    </div>
    <div class="container invisible" id="divDeleteView">

    </div>
    @*<a class="btn btn-success bg-theme-colored" style="margin-bottom:10px" asp-action="AddOrEdit"><i class="fa fa-plus"></i> Add New</a>*@
    

</div>
<div id="CampaignsContainer" class="container visible">
    <h2>Smart Donation Box Campagin List</h2>
    <div class="col-md-12 form-group">
        <form asp-action="AddOrEdit" 
          data-ajax="true" 
          data-ajax-update="#divAddEditView" 
          data-ajax-success="showAddEditViewForm()">
          <button type="submit" class="btn btn-success bg-theme-colored"><i class="fa fa-plus"></i>Add New</button>


        </form>
        <form asp-action="EditCampaign"
            data-ajax="true"
            data-ajax-update="#divEditView"
            data-ajax-success="showEditCampaignViewForm()">

        </form>
        <form asp-action="DeleteCampaign"
            data-ajax="true"
            data-ajax-update="#divDeleteView"
            data-ajax-success="showDeleteCampaignViewForm()">

        </form>
        
        <table id="Campaigntbl" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Title
                    </th>
                    <th>
                        Image
                    </th>
                    <th>
                        Compaign Purpose
                    </th>
                    <th>
                        User_Id
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Total Amount Needed
                    </th>
                    <th>
                        Collected Amount
                    </th>
                    <th>
                        Status
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr id="TR_@item.Id">
                        <partial name="_Campaign" model="@item" />
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>

@section scripts{
@{ 
    await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
}

    <script>
        $(document).ready(function () {

            $("#Campaigntbl").DataTable();

        });

        function loadCampaigns() {
            let loggedinuserID = $("#loggedinuserID").val();
            $.ajax({
                url: "/Campaign/GetAllNGOCampaigns",
                type: "GET",

                data: { userId: loggedinuserID },
                success: function (response) {
                    console.log("Success Response: ");
                    console.log(response);
                    $("#CampaignsContainer").html(response);

                },
                error: function (response) {
                    console.log(response);
                    alert(response);
                }
            });

        }

        function showAddEditViewForm(){
            $("#divAddEditView").addClass("visible");
            $("#divAddEditView").removeClass("invisible");


            $("#CampaignsContainer").addClass("invisible");
            $("#CampaignsContainer").removeClass("visible");


        }

        function closeAddEditViewForm(){
            $("#divAddEditView").addClass("invisible");
            $("#divAddEditView").removeClass("visible");
            $("#addCampaignFormdiv").remove();

            $("#CampaignsContainer").addClass("visible");
            $("#CampaignsContainer").removeClass("invisible");

        }

        function showEditCampaignViewForm(){
            $("#divEditView").addClass("visible");
            $("#divEditView").removeClass("invisible");


            $("#CampaignsContainer").addClass("invisible");
            $("#CampaignsContainer").removeClass("visible");
        

        }

        function closeEditCampaignViewForm(){
            $("#divEditView").addClass("invisible");
            $("#divEditView").removeClass("visible");

            $("#CampaignsContainer").addClass("visible");
            $("#CampaignsContainer").removeClass("invisible");

        }





    </script>
}