<!DOCTYPE html>
<html lang="en">
<head>
                                                             
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="CharityFund - Charity & Crowdfunding HTML Template" />
    <meta name="keywords" content="building,business,construction,cleaning,transport,workshop" />
    <title>@ViewData["Title"] - sdb</title>
    
    
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/lib/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/lib/css/css-pugin-collections.css" rel="stylesheet" />
    <!-- CSS | menuzord megamenu skins -->
    <link id="menuzord-menu-skins" href="~/lib/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />
    <!-- CSS | Main style file -->
    <link href="~/lib/css/style-main.css" rel="stylesheet" type="text/css">
    <!-- CSS | Preloader Styles -->
    <link href="~/lib/css/preloader.css" rel="stylesheet" type="text/css">
    <!-- CSS | Custom Margin Padding Collection -->
    <link href="~/lib/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <!-- CSS | Responsive media queries -->
    <link href="~/lib/css/responsive.css" rel="stylesheet" type="text/css">
    <!-- Revolution Slider 5.x CSS settings -->
    <link href="~/lib/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />
    <!-- CSS | Theme Color -->
    <link href="~/lib/css/colors/theme-skin-yellow.css" rel="stylesheet" type="text/css">
   <!-- <link rel="stylesheet" href="~/css/site.css" />-->
    
    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">sdb</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - sdb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/js/jquery-2.2.0.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/jquery-ui.min.js"></script>
    <!-- JS | jquery plugin collection for this theme -->
    <script src="~/lib/js/jquery-plugin-collection.js"></script>
    <script src="~/lib/js/custom.js"></script>

    <!-- Revolution Slider 5.x SCRIPTS -->
    <script src="~/lib/js/revolution-slider/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/lib/js/revolution-slider/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution-slider/js/extensions/revolution.extension.actions.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution-slider/js/extensions/revolution.extension.carousel.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution-slider/js/extensions/revolution.extension.kenburn.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution-slider/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution-slider/js/extensions/revolution.extension.migration.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution-slider/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution-slider/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution-slider/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="~/lib/js/revolution-slider/js/extensions/revolution.extension.video.min.js"></script>
   
    
    @RenderSection("Scripts", required: false)
</body>
</html>
