@model sdb.Models.CompaignModel
<html>
<head>
     <title></title>
</head>
<body>
    <h3>@ViewBag.Pagetitle</h3>

    
    <div>
        Name: @Model.Compaign_Name
        
    </div>
    <div>
        Description: @Model.Compaign_Description
    </div>
</body>
</html>



